/*----------------------------------------*/
/*  10. MODAL CSS START
/*----------------------------------------*/


.modal {
    background-color: rgba(0, 0, 0, 0.75);

    &-dialog {
        &__hero {
            margin-top: 100px;
            max-width: 900px;

            @media #{$md} {
                max-width: 700px;
            }
        }
    }

    &-content {
        height: 560px;

        @media #{$sm} {
            height: 320px;
        }

        iframe {
            height: 100%;
        }
    }

    .close-modal {
        background: var(--secondary);
        width: 30px;
        height: 30px;
        color: var(--white);
        position: absolute;
        right: -15px;
        top: -15px;
        border: none;
        border-radius: 50%;
        transition: all 0.3s;

        @media #{$sm} {
            right: -5px;
        }

        &:hover {
            background-color: var(--primary);
        }
    }
}


// Video Modal

.video {

    &__area {
        background-image: url(../imgs/bg/video.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;

        @media #{$md} {
            background-attachment: unset;
        }

        @media #{$sm} {
            background-attachment: unset;
        }

        &:hover {
            .play-now {
                opacity: 0;
                visibility: hidden;
            }
        }

        .play-now {
            font-weight: 500;
            font-size: 16px;
            line-height: 23px;
            color: var(--white);
            background: var(--secondary);
            text-transform: capitalize;
            border-radius: 100%;
            transform: translate(-50%, -50%);
            position: absolute;
            width: 200px;
            height: 200px;
            line-height: 200px;
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;

            @media #{$md} {
                width: 150px;
                height: 150px;
                line-height: 150px;
            }

            @media #{$sm} {
                width: 120px;
                height: 120px;
                line-height: 120px;
            }
        }
    }

    &__content {
        display: block;
        width: 100%;
        height: 740px;
        

        @media #{$lg} {
            height: 550px;
        }

        @media #{$md} {
            height: 550px;
        }

        @media #{$sm} {
            height: 450px;
        }

        button {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border: none;
            background-color: transparent;
        }
    }
}